@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");


body {
  font-size: 16px;
  font-family:  Times New Roman, Helvetica, sans-serif;
}

header,
main,
footer {
  margin: 1rem;
  position: relative;
}

h1 {
  color:brown;
  /*box-shadow: 0 0 30px rosybrown;*/
  /*border-bottom: 1px solid #eee;*/
  /*text-shadow: 0 0 15px rosybrown;*/
  width: 100%;
  font-size: 80px;
  text-align: center;
  
  
}

h2 {
  color: brown;
  margin: 16px;
  align-items: center;
/*border-bottom: 1px solid #bbb;*/
}

p {
  margin: 0;
}

main {
  margin-left: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  
}

section {
  margin: 0.25rem;
  padding: 0.35rem;
  background-color: lightyellow;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section > p {
  padding: 8px;
  align-items: center;
  color: brown;
}

img {
  width: auto;
	max-width: 325px;
  box-shadow: 0 0 30px rosybrown;
  height: 200px;
  border: 1px solid black;
}

li > img {
  width: auto;
  height: 30px;
}

footer {
  border-top: 1px solid black;
  padding: 20px;
  text-align: center;
}
