html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-size: 1rem;
  }
  
  td, th {
    border: 1px solid black;
    padding: 10px 20px;
  }
  
  th  {
   /* background-color: rgb(235,235,235);*/
   background-color: lightgreen;
  }
  
  td {
    text-align: center;
    background-color: whitesmoke;
   
  }
  
  tr:nth-child(even) td {
    /*background-color: lightgreen;*/
    background-color: rgb(245,245,245);
  }
  
  tr:nth-child(odd) td {
   /* background-color: rgb(245,245,245);*/
    background-color: lightgreen;
  }
  
  caption {
    padding: 10px;
   
  }