header {
  background-color: #006D77;
  text-align: center;
  padding: 10px 0;
}

/*main {
  background-color: beige;
}*/

header h1 {
  background-color: #006D77;
  color: beige;
  margin: 0 0 10px 0;
  font-size: 30px;
  font-family: "cookie", "Sansita", "cursive";
}


section {
  border: 1px solid black;
  margin: 10px 5px;
}

* {
  margin: 0;
  padding: 0;
}

header, nav {
  margin: 0 auto;
  max-width: 760px;
  background-color: #006D77;
}

.navigation  {
  list-style: none;
  display: flex;
  background-color: #006d77;
  color: #fffff0;
  text-align: center;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  justify-content: space-around;
}

.navigation li {
  flex: 1 1 auto
}

.navigation a {
  display: block;
  color:  #fffff0;
  padding: 0.75rem;
  text-decoration: none;
}
.navigation a:hover {
  background-color: #D6FDFF;
  color: #5B344E;
  font-weight: 700;
}

footer  {
  display: flex;
  background-color: #006d77;
  color: #fffff0;
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
}

section h2 {
  display: flex;
  background-color: #006D77;
  justify-content: space-between;
  color:  #FFFFF0;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

section h3 {
  background-color: #3a4958;
  color: white;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

section h4 {
  background-color: #3a4958;
  color: white;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

section img {
  width: 95%;
  margin-left: 2.5%;
}

footer p {
  background: color #006D77;
  color: beige;
  text-align: center;
  padding: 20px 0;
}
