  /*laptop views****************/
  
@media only screen and (min-width: 37.5em) {

header h1 {
    font-size: 35px;
  }

  * {
    margin: 0;
    padding: 0;
  }

  header, nav {
    margin: 0 auto;
    max-width: 760px;
  }
nav ul{
    display: grid;
  	grid-template-columns: repeat(5, 1fr); 
	/*	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));*/
	} 

  nav a {
		font-size: 1rem;
	}

	nav a:hover {
		/* 	background-color: #bbb;
	color: #36454f; 
		--d: 75%;*/
  background-color: #D6FDFF;
	color: #5B344E;
  font-weight: 700;
	}
}
.navigation  {
    list-style: none;
    display: flex;
    background-color: #006d77;
    color: #fffff0;
    text-align: center;
    /*flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;*/
}

.navigation li {
  flex: 1  1 auto;
}

.navigation a {
display: block;
color:  #fffff0;
padding: 0.75rem;
text-decoration: none;
}
.navigation a:hover {
  background-color: #D6FDFF;
	color: #5B344E;
  font-weight: 700;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  max-width: 45%;
  min-width: 300px;
}

footer  {
  display: flex;
  background-color: #006d77;
  color: #fffff0;
  text-align: center;
  font-weight: 400;
  padding: 10px 0;
  }

