header {
  background-color: #006d77;
  text-align: center;
  padding: 10px 0;
}

/*main {
  background-color: beige;
}*/

header h1 {
  color: beige;
  margin: 0 0 10px 0;
  font-size: 30px;
  font-family: "Sansita", "cursive" "cursive";
}

header div {
  color: beige;
  margin: 0;
  font-size: 20px;
}

section {
  border: 1px solid black;
  margin: 10px 5px;
}

section h2 {
  background-color: #3a4958;
  color: white;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

section h3 {
  background-color: #3a4958;
  color: white;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

section h4 {
  background-color: #3a4958;
  color: white;
  margin: 0;
  padding: 5px;
  font-size: 20px;
}

section img {
  width: 95%;
  margin-left: 2.5%;
}

footer p {
  background-color: #006d77;
  color: beige;
  text-align: center;
  padding: 20px 0;
}
