@media only screen and (min-width: 560px) {
  .header-first_line {
    padding: 10px;
  }
  nav {
    position: relative;
    right: 0;
    top: 0;
  }

  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    /*justify-content: flex-end; */ /* or justify-content: center;*/

    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    padding: 5px;
  }

  /*Discover Page */

  body .gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

.gallery/*:hover */{  /*still working on the hover effect*/
  background-color: rgb(1, 28, 30);
  box-shadow: 0 0 50px #006d77;
  width: 300px;
  height: 200px;
  border: 4px solid rgb(1, 28, 30);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
/*end of discover page*/


  main {
    grid-template-columns: 1fr 1fr;
  }

  .hero_section {
    grid-column: 1/-1;
  }

  main section div {
    justify-content: space-between;
  }

  main > * {
    gap: 5px;
    background-color: white;
    margin: 5px;
  }

  section .banner {
    background-color: #d6fdff;
    border: 2px solid #006d77;
  }
  /*
.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 2em;
    border-style: solid;
    border-color: #006d77;
        
}
    
.column :first-child {
    align-self: center;
}
    
section .column {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 2em;
    justify-content: space-between;
    border-style: solid;
    border-color: #006d77;
}*/
}
