@media only screen and (min-width: 560px) {
  .header-first_line {
    padding: 10px;
  }

  nav {
    position: relative;
    right: 0;
    top: 0;
  }

  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    padding: 5px;
  }

  /*Discover Page */

  .discover div img:hover {
    background-color: rgb(1, 28, 30);
    box-shadow: 0 0 50px #006d77;
  }

  .gallery {
    width: 500px;
    height: 350px;
    border: 4px solid rgb(1, 28, 30);
    background-color: #d6fdff;
  }

  /*end of discover page*/

  /*Join page*/

  table {
    display: block;
    border-collapse: collapse;
    border: 2px solid rgb(1, 28, 30);
    letter-spacing: 1px;
    font-size: 1rem;
    justify-content: left;
    float: left;
    padding: 10px;
  }

  main.join form #contactInfo ul li {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 30px;
  }

  main.join form #contactInfo ul {
    margin: auto;
  }
  main.join form #contactInfo ul li input {
    width: 300px;
  }

  /*end of join page*/

  main.home {
    grid-template-columns: 1fr 1fr;
  }

  .hero_section {
    grid-column: 1/-1;
  }

  main.home section div {
    justify-content: space-between;
  }

  main > * {
    gap: 5px;
    background-color: white;
    margin: 5px;
  }

  section .banner {
    background-color: #d6fdff;
    border: 2px solid #006d77;
  }

  .home section.spot3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    word-spacing: 3px;
    padding: 15px;
    color: rgb(1, 28, 30);
    border-style: solid;
  }
 
}
