@media only screen and (min-width: 40em) {


main section div{
    justify-content: space-between;

}

main >*{
    background-color: white;
    margin: 5px;
    height: 300px;
        
}

nav button {display: none;}

nav ul#primaryNav {
    display: flex;
    /*justify-content: flex-end; */  /* or justify-content: center;*/
    
    border-left: 1px solid rgba(0,0,0,0.3);
}

nav ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.3);
    font-size: 2rem;
} 
/*
.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 2em;
    border-style: solid;
    border-color: #006d77;
        
}
    
.column :first-child {
    align-self: center;
}
    
section .column {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 2em;
    justify-content: space-between;
    border-style: solid;
    border-color: #006d77;
}*/
      
}