@media only screen and (min-width: 40em) {


main section div{
    justify-content: space-between;

}

main >*{
    background-color: white;
    margin: 5px;
    height: 300px;
        
}
.column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 2em;
    border-style: solid;
    border-color: #006d77;
        
}
    
.column :first-child {
    align-self: center;
}
    
section .column {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 2em;
    justify-content: space-between;
    border-style: solid;
    border-color: #006d77;
}
      
}