* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  align-items: center;
  justify-content: center;
  font-family: sansita, cookie, cursive;
}

header {
  background-color: #83c5be;
  padding: 10px 0px;
  color: black;
}

.header-first_line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 35px 0 10px;
}

.header-first_line a img {
  width: 50px;
}

.header-first_line .header-title h1 {
  font-size: 30px;
}

nav {
  background-color: beige;
  position: absolute;
  right: 10px;
  top: 21px;
  text-align: right;
  opacity: 0.8;
}

/* nav button {
  margin: 0.2rem 2vw;
  font-size: 2rem;
  color: #006d77;
  position: right;
} */

#hamburgerBtn {
  width: 30px;
  border: none;
  height: 30px;
  padding: 5px;
  background-color: transparent;
}
#hamburgerBtn span:nth-child(1) {
  display: block;
}
#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}
#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #006d77;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: #d6fdff;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

/*.navigation {
  content: "=";
  gap: 15px;
  list-style: none;
  position: absolute;
  right: 5px;
  text-align: center;
}

.navigation li {
  content: "=";
  display: flex;
  background-color: beige;
}

.displayAll li {
  display: block;
}

.navigation li:first-child {
  display: block;
}


#menu::before {
  content: "=";
  display: block; 
}

.navigation li a:hover {
  background-color: #D6FDFF;
  border: 3px solid #006d77;
  width: 25%;
  height: 10px;
  padding: 5px 10px;
}
*/

.header-media_group {
  display: flex;
  gap: 5px;
  padding: 5px;
}

.header-first_line .header-media_group img {
  width: 30px;
}

#currentDate {
  text-align: center;
  background-color: beige;
  padding: 5px;
  margin: 10px;
}

main {
  
  margin: 20px auto;
  border: 10px solid #006d77;
  padding: 0.5rem;
  width: 90%;
  background-color: beige;
}

main > * {
  
  background-color: white;
  margin: 5px;
  height: 300px auto;
}

section img {
  margin: auto;
  width: 100%;
  
}

section .banner img{
  position: sticky;
  background-color: #d6fdff;
  border: 1px solid #006d77;
  opacity: 0.8;
  }

/* beginning 
h1 {
	text-align: center;
	font-size: 2.5rem;
	text-shadow: .25rem .25rem .75rem #333;
	margin-bottom: 1rem;
}

.herodiv {
	margin: 10px auto;
	position: relative;
}

h2 {
	margin: 0 0 .5rem;
	border-bottom: 1px solid #000;
}

p {
	margin: 0;
}

.stats {
	position: absolute;
	top: 25px;
	right: 50px;
	background: radial-gradient(#eee, #4567aa);
	border: 1px solid rgba(0,0,0,.1);
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.8;
}

.stats span {
	font-style: italic;
	font-weight: 700;
}
/* end of example */

footer {
  background-color: #83c5be;
  color: black;
  text-align: center;
  padding: 20px 0;
}

footer section {
  background-color: beige;
  text-align: center;
  padding: 20px 0;
}

#lastModified {
  text-align: center;
  font-size: smaller;
}
