* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #006d77;
  padding: 10px 0px;
}

.header-first_line {
  display: flex;
  justify-content: space-around;
}

.header-first_line .header-title h1 {
  font-size: 30px;
}

.header-first_line #hamburgerMenu {
  gap: 5px;
  list-style: none;
  display: none;
}

#currentDate {
  text-align: center;
  background-color: grey;
  padding: 5px;
  margin: 10px;
}

footer {
}
